@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Outfit;
    list-style: none;
    text-decoration: none;
}

#root:hover {
    cursor: pointer;
   

}

.App{
    width:85%;

    margin:auto;
   

}